streamlit==1.34.0
mplfinance==0.12.10b0
pandas==2.2.2
datetime==5.5
plotly.graph_objects==5.22.0
plotly_express==0.4.0
matplotlib==3.8.2
seaborn==0.13.2
plotly==5.22.0
requests==2.26.0  
plotly_express==0.4.0
